#monster,div.eyes
{
	position: absolute;
}
#bk_eye_left
{
	background-image: url(../img/bk_eye_left.png);
	bottom: 70px;
	height: 80px;
	right: 130px;
	width: 80px;
}
#bk_eye_right
{
	background-image: url(../img/bk_eye_right.png);
	bottom: 90px;
	height: 80px;
	right: 13px;
	width: 90px;
}
#monster,#unipam
{
	bottom: 0;
	display: block;
}
.auge_left .pupille
{
	height: 39px;
	width: 40px;
}
.auge_right .pupille
{
	height: 46px;
	width: 50px;
}
#monster
{
	background: url(../img/monstro.png);
	background-size: 100%;
	height: 180px;
	right: 10px;
	width: 200px;
	z-index: 10001;
}
#unipam,div.left_eye,div.right_eye
{
	background-repeat: no-repeat;
	position: absolute;
}
#unipam
{
	background-color: #3b455f;
	background-image: url(../img/text.png);
	background-position: 60px;
	border-bottom-left-radius: 100px;
	border-top-left-radius: 100px;
	height: 100px;
	moz-transition: width 300ms linear;
	o-transition: width 300ms linear;
	right: 0;
	transition: width 300ms linear;
	webkit-transition: width 300ms linear;
	width: 0;
	position: fixed;
	z-index: 9999;
}
#unipam:hover
{
	width: 870px;
}
div.eyes
{
	bottom: 95px;
	height: 70px;
	margin: 0 auto;
	right: 15px;
	width: 190px;
}
div.left_eye,div.right_eye
{
	background-position: center center;
	top: 0;
}
div.left_eye
{
	height: 75px;
	left: 3px;
	top: 24px;
	width: 70px;
}
div.right_eye
{
	height: 80px;
	right: 0;
	width: 85px;
}
div.eyes div.right_eye div.pupil
{
	background-image: url(../img/olho_direito.png);
	background-size: cover;
	height: 41px;
	width: 45px;
}
div.eyes div.left_eye div.pupil
{
	background-image: url(../img/olho_esquerdo.png);
	background-size: cover;
	height: 35px;
	width: 36px;
}
div.eyes div.pupil
{
	left: 17px;
	position: relative;
	top: 17px;
}
.eyelids #right_eyelid,.eyelids>div
{
	background-size: cover;
	position: absolute;
}
#circular div.left_eye,#circular div.right_eye
{
	background-size: cover;
}
#circular div.right_eye
{
	background-image: url(../img/bk_eye_right.png);
}
#circular div.left_eye
{
	background-image: url(../img/bk_eye_left.png);
}
.eyelids
{
	width: 190px;
	animation: blink 4s steps(1) infinite;
	-moz-animation: blink 4s steps(1) infinite;
	-o-animation: blink 4s steps(1) infinite;
	-webkit-animation: blink 4s steps(1) infinite;
}
.eyelids>div
{
	display: block;
}
.eyelids #left_eyelid
{
	background-image: url(../img/eye_blink_left.png);
	height: 65px;
	margin-top: 24px;
	width: 68px;
}
.eyelids #right_eyelid
{
	background-image: url(../img/eye_blink_left.png);
	height: 78px;
	right: 0;
	width: 85px;
}

@keyframes blink { 5% { opacity: 0; } }
@-webkit-keyframes blink { 5% { opacity: 0; } }
@-moz-keyframes blink { 5% { opacity: 0; } }
@-o-keyframes blink { 5% { opacity: 0; } }

/*  estilos alterados */
#topo{
	font-family: arial;
	font-size: 20px;
}

#carousel-example-generic{
	width: 60%;
	height: 300px;
}
